<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>无标题文档</title>
		<style type="text/css">
			
			.noBorder{
				BORDER-RIGHT: rgb(0,0,255) 1px solid; 
				BORDER-TOP: rgb(0,0,255) 1px solid; 
				FONT-SIZE: 20px; 
				color:rgb(255,255,255);
				BORDER-LEFT: rgb(0,0,255) 1px solid; 
				BORDER-BOTTOM: rgb(0,0,255) 1px solid;
				BACKGROUND-COLOR: rgb(0,0,255);
			}
			
			body {
	background-image: url(images/1.png);
	background-repeat: repeat;
	margin-left: 40px;
			}
			
			#title {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 20px;
				color: #00F;
			}
	
			#content {
				color: #333;
				font-family: "等线";
				font-size: 18px;
			}
	
			#bar {
				font-family: "等线";
				font-size: 18px;
				color: #333333;
				font-weight: bold;
			}
	
			#page {
				text-align: center;
			}
			
			#user {
				text-align: center;
				font-family: "等线";
				font-size: 18px;
				color: #666;
				font-weight: bold;
			}
		</style>
	   <link rel="stylesheet" href="css/bootstrap.min.css">
	   <style type="text/css">
	   h4 {
	color: #900;
}
       </style>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>

<body>
		<!--<p><img src="logo/logo1.png" alt="" width="120" height="120" align="middle" /></p>-->
        {% if movie %}
<div align="center">
        	<p><img src="images/logo.png" alt="" width="160" height="107" align="middle" /></p>
  			<table width="930" height="208" border="2" cellspacing="0" border-color="red">
    			<tr>
      				<td width="200" rowspan="2"><img src="" width="428" height="486" alt="" /></td>
      				<td width="767" height="39" id="title"><div align="center"><strong id="title"><a href="">{{ movie.name}}</a></strong></div></td>
    			</tr>
   				<tr>
      				<td height="164" id="content">
                        {{movie.descrip}}
                    </td>
    			</tr>
  			</table>
		</div>
        {% endif %}
        
        <br/>
        

<ul id="myTab" class="nav nav-tabs" >

   <li class="active">
      <a href="#home" data-toggle="tab">
         全部
      </a>
   </li>
   <li><a href="#photo" data-toggle="tab">图解电影</a></li>
   <li>
      <a href="#analyse" data-toggle="tab">剧情解析 

      </a>
      
   </li>
   <li><a href="#comment" data-toggle="tab">影评分析</a></li>
   <li><a href="#around" data-toggle="tab">周边杂谈</a></li>
   <li><a href="#minute" data-toggle="tab">精彩瞬间</a></li>
</ul>

<div id="myTabContent" class="tab-content" align="center">
<div class="tab-pane fade in active" id="home">
  			<table width="930" height="317" border="2">
                {% if contents %}
                {% for post in contents %}
    			<tr>
      				<td>
                    	<strong id="title"><a href="{{ post.get_absolute_url }}">{{ post.name}}</a></strong>
					</td>
      				<td id="user">{post.poster.username}</td>
				</tr>
                {% endfor %}
                {% endif %}
        
<div class="tab-pane fade" id="photo" align="center">
  			<table width="930" height="317" border="2">
    			<tr>
      				<td>
                    	<strong id="title">关于谁的青春不迷茫</strong>
      					<p id="content">晚上去天骄挡水的那一刻 特别心动 欧...</p>
					</td>
      				<td id="user">裁尘i</td>
				</tr>
			</table>
		</div>

<div class="tab-pane fade" id="analyse" align="center">
  			<table width="930" height="317" border="2">
    			<tr>
      				<td>
                    	<strong id="title">关于谁的青春不迷茫</strong>
      					<p id="content">晚上去天骄挡水的那一刻 特别心动 欧...</p>
					</td>
      				<td id="user">裁尘i</td>
				</tr>
				<tr>
      				<td>
                    	<strong id="title">关于谁的青春不迷茫</strong>
      					<p id="content">晚上去天骄挡水的那一刻 特别心动 欧...</p>
					</td>
      				<td id="user">裁尘i</td>
				</tr>
			</table>
		</div>

                <div class="tab-pane fade" id="analyse" align="center">
  			<table width="930" height="317" border="2">
    			<tr>
      				<td>
                    	<strong id="title">关于谁的青春不迷茫</strong>
      					<p id="content">晚上去天骄挡水的那一刻 特别心动 欧...</p>
					</td>
      				<td id="user">裁尘i</td>
				</tr>
				<tr>
      				<td>
                    	<strong id="title">关于谁的青春不迷茫</strong>
      					<p id="content">晚上去天骄挡水的那一刻 特别心动 欧...</p>
					</td>
      				<td id="user">裁尘i</td>
				</tr>
			</table>
		</div>
        
<ul class="pagination pagination-lg">
  <li><a href="">上一页</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li><a href="#">7</a></li>
  <li><a href="#">8</a></li>
  <li><a href="#">9</a></li>
  
  <li><a href="#">下一页</a></li>
</ul>
        <div align="center">
       <button class="btn btn-primary btn-lg" data-toggle="modal" 
   data-target="#myModal" style="width:200px;height:60px;">
   我要发帖
</button>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4>请输入标题</h4>
           <input type="text" placeholder = "请输入标题......" size="78" height="50"/>             

         </div>
         <h4>请输入帖子内容</h4>
        <textarea rows="8" cols="80"> 			</textarea>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               发表帖子
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
        <footer>
        <p>Copyright © 2016 </p>
	<p><a href="http://baidu.com" target="_blank" title="我们">关于我们 </b>|<a href="http://baidu.com" target="_blank" title="首页">返回首页</a>  </b>| <a href="http://baidu.com" target="_blank" title="首页">MOVIESQUARE</p>
</footer>      
</body>
</html>
