<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>电影</title>
	<meta name="description" content="电影的分类">
	<meta name="author" content="Chen">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="../css/zerogrid.css">
	<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
	<![endif]-->
	
    
</head>
<body>
<!--------------Header--------------->
<header>
	<div id="logo"><a href=""><img src="../images/logo.png"/></a></div>
</header>

<!--------------Navigation--------------->

<nav>
	<ul class="menu">
		<li><a href="#">爱情</a></li>
		<li><a href="#">喜剧</a></li>
		<li><a href="#">战争</a></li>
		<li><a href="#">动漫</a></li>
		<li><a href="#">家庭</a></li>
        <li><a href="#">军事</a></li>
        <li><a href="#">校园</a></li>
        <li><a href="#">更多...</a></li>
        
	</ul>
	<div class="minimenu"><div>菜单</div>
		<select>
			<option>爱情</option>
			<option>喜剧</option>
			<option>战争</option>
			<option>动漫</option>
			<option>家庭</option>
            <option>军事</option>
            <option>校园</option>
            <option>更多...</option>
		</select>
	</div>
</nav>

			
<!--------------Content--------------->
<section id="content">
	<div class="zerogrid">
		<div class="row block">
			<div class="main-content">
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/1.jpg"/>
							<h2><a href="getMoviePoster.html">谁的青春不迷茫</a></h2>
						</div>
						<div class="content">
							<p>富豪刘轩（邓超饰）的地产计划涉及填海工程，威胁靠海为生的居民。因为人类对大海及生态的破坏，美人鱼只能被赶到了一艘破船里艰难生存，背负家族秘密的珊珊（林允饰）被派遣前往阻...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/2.jpg"/>
							<h2><a href="{%  url "getMoviePoster" "致青春" %}">致青春</a></h2>
						</div>
						<div class="content">
							<p>自喻为“玉面小飞龙”的郑微，怀着对邻家哥哥林静的爱意考入大学。当她联系林静的时候，却发现林静不告而别，匆匆出国留学。生性豁达的她与同宿舍女生之间结下了深厚的友谊. ...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/3.jpg"/>
							<h2><a href="#">左耳</a></h2>
						</div>
						<div class="content">
							<p>十七岁的女孩李珥，左耳听力不好，如果站在左边说话就听不见，不起眼而内向的李珥某天突然就暗恋男生许弋，黎吧啦因为爱上张漾而帮助他勾引许弋，暗恋许弋的李珥偶然间. ...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/4.jpg"/>
							<h2><a href="#">匆匆那年</a></h2>
						</div>
						<div class="content">
							<p>年近三十的陈寻在90后女孩七七追问下，回忆起了自己与方茴的同居时光。 当年近而立的陈寻再次回忆这段纯真感情时加入了思考和反省。这既是陈寻的青春记忆. ...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/5.jpg"/>
							<h2><a href="#">这个杀手不太冷</a></h2>
						</div>
						<div class="content">
							<p>里昂（让·雷诺饰）是意大利裔的顶尖职业杀手，一直孤独的住在纽约小意大利，只有一株盆栽是他最好的朋友。他形容：“他比人友善多了。他跟我一样沉默，从来不会问问题，也不会想杀我。他也跟我. ...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/6.jpg"/>
							<h2><a href="#">泰坦尼克号</a></h2>
						</div>
						<div class="content">
							<p>1912年4月15日，载着1316号乘客和891名船员的豪华巨轮“泰坦尼克号”与冰山相撞而沉没，这场海难被认为是20世纪人间十大灾难之一。1985年，“泰坦尼克号”的沉船遗骸在北大西洋两英里半的海底. ...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/7.jpg"/>
							<h2><a href="#">睡在我上铺的兄弟</a></h2>
						</div>
						<div class="content">
							<p>沪都大学330宿舍的四位性格迥异的兄弟，在毕业之际各自遭遇了情感、学业、工作上的挫折。聪明贪玩、厚脸皮的大男孩林向宇（陈晓饰）与女上司姐弟恋，引得周遭非议；聪明贪玩、自在逍遥的富二代李大鹏（杜天皓饰）无所事事 ...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/8.jpg"/>
							<h2><a href="#">听说</a></h2>
						</div>
						<div class="content">
							<p>阳光男孩黄天阔（彭于晏饰）的父母经营着一家便当店，某天，他在为听障游泳队送便当时邂逅了清纯美丽的姐妹花——小朋（陈妍希饰）和秧秧（陈意涵饰）。姐妹俩的父亲是一名传教士，常年在非洲工作。为了保障姐姐顺利参加听障奥运会 ...</p>
						</div>
						
					</div>
				</article>
				<article class="col-1-3">
					<div class="wrap">
						<div class="heading">
							<img src="../images/9.jpg"/>
							<h2><a href="#">初恋这件小事</a></h2>
						</div>
						<div class="content">
							<p>小水是初中一年级一个最最平凡的小女孩，但这位女孩偏偏爱上了学校中最优秀、最善良、也最帅气的高一男生——阿亮。于是她做了很多傻傻的小事，只为能引起阿亮的注意。申请加入舞蹈社却在筛选时被喜欢阿亮的同学小菲羞辱；她不惜参演. ...</p>
						</div>
						
					</div>
				</article>
			</div>
			
		</div>
	</div>
</section>
<!--------------Footer--------------->
<footer>
	<p>Copyright © 2016 - Chenyuepeng</p>
	<p><a href="http://baidu.com" target="_blank" title="首页">返回首页</a> www.baidu.com</p>
</footer>

</body></html>