{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../css/bootstrap.mine.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap-theme.mine.css" rel="stylesheet" type="text/css">
    <link href="../css/templatemo_style2.css" rel="stylesheet" type="text/css">
</head>
<body class="templatemo-bg-gray">
<h1 class="margin-bottom-15">创建账户</h1>
<div class="container">
    <div class="col-md-12">
        <form class="form-horizontal templatemo-create-account templatemo-container" role="form" action=""
              method="post">
            {% csrf_token %}
            <div class="form-inner">
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="name" class="control-label">姓名</label>
                        {% render_field form1.first_name class="form-control" id="name" placeholder="" %}
{#                        <input type="text" class="form-control" id="name" placeholder="">#}
                    </div>
                    <div class="col-md-6">
                        <label for="tel" class="control-label">电话</label>
                        {% render_field form2.phone class="form-control" id="tel" placeholder="" %}
{#                        <input type="text" class="form-control" id="tel" placeholder="">#}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="username" class="control-label">注册邮箱</label>
                        {% render_field form1.email class="form-control" id="email" placeholder="" %}
{#                        <input type="email" class="form-control" id="email" placeholder="">#}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="username" class="control-label">用户名</label>
                        {% render_field form1.username class="form-control" id="username" placeholder="" %}
{#                        <input type="text" class="form-control" id="username" placeholder="">#}
                    </div>
                    <div class="col-md-6 templatemo-radio-group">
                        {% render_field form2.sex %}
{#                        <label class="radio-inline">#}
{#                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> 男#}
{#                        </label>#}
{#                        <label class="radio-inline">#}
{#                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 女#}
{#                        </label>#}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="password" class="control-label">密码</label>
                        {% render_field form1.password1 class="form-control" id="password" placeholder="" %}
{#                        <input type="password" class="form-control" id="password" placeholder="">#}
                    </div>
                    <div class="col-md-6">
                        <label for="password" class="control-label">确认密码</label>
                        {% render_field form1.password2 class="form-control" id="password_confirm" placeholder="" %}
{#                        <input type="password" class="form-control" id="password_confirm" placeholder="">#}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="创建账户" class="btn btn-info">
                        <a href="{% url "login" %}" class="pull-right">去登录</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>